In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('datos/df_da_relevante.csv', index_col = 0)
df.sample(3)

,age,gender,q3,q4,q6,q7,q8,q9,q10_part_1,q10_part_2,q10_part_3,q10_part_4,q10_part_5,q10_part_6,q10_part_7,q10_part_8,q10_part_9,q10_part_10,q10_part_11,q10_part_12,q10_part_13,q10_part_14,q10_part_15,q10_part_16,q10_other,q14,q34,q35,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q41
16477,25-29,Man,Peru,Bachelor’s degree,3-5 years,"Python, R, Other",R,"Visual Studio Code (VSCode) , Sublime Text, Vi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,"Matplotlib ,Ggplot / ggplot2 ,Geoplotlib",Microsoft Power BI,NaN,NaN,NaN,NaN,GitHub,NaN,NaN,NaN,NaN,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)"
17444,22-24,Man,Russia,Master’s degree,1-3 years,"Python, R, SQL",Python,"RStudio ,Jupyter Notebook",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Ggplot / ggplot2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
405,25-29,Man,Colombia,Bachelor’s degree,1-3 years,"Python, SQL, Java, Javascript",Python,Visual Studio Code (VSCode),NaN,Colab Notebooks,Azure Notebooks,NaN,NaN,NaN,NaN,NaN,Amazon EMR Notebooks,NaN,Google Cloud Datalab,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express","Microsoft Power BI, Google Data Studio, Tableau",Tableau,NaN,NaN,NaN,GitHub,NaN,Kaggle,Colab,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."

In [16]:
#probamos rename
def renombrar_columnas(dataframe,inicio,final,num_q):
    nom_col = {}
    for col in dataframe.columns[inicio : final+1]:
        try: 
            for i in dataframe[col].unique():
                i = str(i) 
                if i != 'nan':
                    i = i.strip().replace(' ', '_')
                    nom_col[col] = f'q{num_q}_{i}'
                else:
                    pass
        except:
            print('estoy en el except con la columna {col} , elemento {i}')
            
    renombrado = dataframe.rename(columns = nom_col)
    
    return renombrado

In [17]:
df_renombre = renombrar_columnas(df, 8, 24, 10)

In [18]:
df_renombre.head()

,age,gender,q3,q4,q6,q7,q8,q9,q10_Kaggle_Notebooks,q10_Colab_Notebooks,q10_Azure_Notebooks,q10_Paperspace_/_Gradient,q10_Binder_/_JupyterHub,q10_Code_Ocean,q10_IBM_Watson_Studio,q10_Amazon_Sagemaker_Studio_Notebooks,q10_Amazon_EMR_Notebooks,q10_Google_Cloud_Notebooks_(AI_Platform_/_Vertex_AI),q10_Google_Cloud_Datalab,q10_Databricks_Collaborative_Notebooks,q10_Zeppelin_/_Zepl_Notebooks,q10_Deepnote_Notebooks,q10_Observable_Notebooks,q10_None,q10_Other,q14,q34,q35,q39_part_1,q39_part_2,q39_part_3,q39_part_4,q39_part_5,q39_part_6,q39_part_7,q39_part_8,q39_part_9,q39_other,q41
16,50-54,Man,Belgium,Bachelor’s degree,20+ years,"Python, SQL",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Seaborn ,Plotly / Plotly Express",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
32,22-24,Nonbinary,United States of America,Some college/university study without earning ...,< 1 years,R,R,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN,Ggplot / ggplot2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,30-34,Woman,Egypt,Bachelor’s degree,3-5 years,Python,R,"Notepad++,Jupyter Notebook",Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,"Basic statistical software (Microsoft Excel, G..."
46,22-24,Man,China,Some college/university study without earning ...,< 1 years,"Python, SQL, C, C++, Java, Javascript, MATLAB",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",Kaggle Notebooks,NaN,Azure Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Matplotlib ,Plotly / Plotly Express",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
52,40-44,Man,South Africa,Master’s degree,1-3 years,"R, SQL",R,"RStudio ,Jupyter Notebook",NaN,NaN,NaN,NaN,NaN,NaN,IBM Watson Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny",Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,"Local development environments (RStudio, Jupyt..."

In [ ]:
# cambiamos los NaN por 0 y el resto por 1
for col in df_q10.columns:
    df_q10[col] = df_q10[col].apply(lambda dataframe: np.where(type(dataframe) != float, 1, 0))

In [ ]:
# CREAMOS UN DICCIONARIO CON LOS NOMBRES ANTIGUOS Y NUEVOS QUE QUEREMOS EN LAS COLUMNAS DE df_q39
nomb_col_q39 = {}
for col in df_q39.columns:
    try: 
        for i in df_q39[col].unique():
            i = str(i)
            if i != 'nan':
                i = i.strip().replace(' ', '_')
                nomb_col_q39[col] = f'q39_{i}'
            else:
                pass
    except:
        print('estoy en el except con la columna {col} , elemento {i}')
print(f'DICCIONARIO NOMBRES COLUMNAS: {nomb_col_q39}')